altair==4.2.2
astor==0.8.1
asttokens 
attrs 
autograd==1.5
autograd-gamma==0.5.0
backcall 
backports.zoneinfo==0.2.1
blinker==1.4
Bottleneck 
brotlipy==0.7.0
cached-property==1.5.2
cachetools 
certifi 
cffi 
charset-normalizer 
click 
colorama 
comm 
cryptography 
cycler==0.11.0
debugpy 
decorator 
ecos==2.0.12
entrypoints==0.4
executing 
fonttools==4.38.0
formulaic==0.6.1
future==0.18.3
gitdb==4.0.10
GitPython 
graphlib-backport==1.0.3
idna 
importlib-metadata 
importlib-resources==5.12.0
interface-meta==1.3.0
ipykernel 
ipython 
ipywidgets 
jedi 
Jinja2 
joblib==1.2.0
jsonschema 
jupyter_client 
jupyter_core 
jupyterlab-widgets 
kiwisolver==1.4.4
lifelines==0.27.7
markdown-it-py 
MarkupSafe 
matplotlib==3.5.3
matplotlib-inline 
mdurl 
mkl-fft==1.3.6
mkl-random 
mkl-service==2.4.0
nest-asyncio 
numexpr 
numpy 
osqp==0.6.2.post9
packaging 
pandas 
parso 
pickleshare 
Pillow==9.4.0
pkgutil_resolve_name 
platformdirs 
prompt-toolkit 
protobuf==3.20.3
psutil 
pure-eval 
pyarrow==11.0.0
pycparser 
pydeck 
Pygments 
Pympler 
pyOpenSSL 
pyparsing==3.0.9
pyrsistent 
PySocks 
python-dateutil 
pytz 
pytz-deprecation-shim==0.1.0.post0
pywin32==305.1
PyYAML==6.0
pyzmq 
qdldl==0.1.7
requests==2.30.0
rich 
scikit-learn==1.0.2
scikit-survival==0.17.2
scipy==1.7.3
seaborn==0.12.2
six 
smmap 
stack-data 
streamlit==1.22.0
tenacity 
threadpoolctl==3.1.0
toml 
toolz 
tornado==6.2
traitlets 
typing_extensions==4.5.0
tzdata 
tzlocal 
urllib3 
validators 
watchdog 
wcwidth 
widgetsnbextension 
win-inet-pton 
wrapt==1.15.0
zipp
